<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>474175420422-rgrdsf7dm5sphk12ajt4os9snsrorhfb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.474175420422-rgrdsf7dm5sphk12ajt4os9snsrorhfb</string>
	<key>API_KEY</key>
	<string>AIzaSyDFHHJdoE6gvHUskPaIDBHK3d6NKY--MtE</string>
	<key>GCM_SENDER_ID</key>
	<string>474175420422</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Norah.Asiri.MessengerChat</string>
	<key>PROJECT_ID</key>
	<string>messengercha-f59da</string>
	<key>STORAGE_BUCKET</key>
	<string>messengercha-f59da.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:474175420422:ios:5dc083e45d509f4164ab87</string>
</dict>
</plist>